body {
  font-family: 'Abel', sans-serif;
  padding: 0px;
  margin: 0px; }

.center {
  text-align: center; }

#main-wrapper {
  float: right;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  margin-left: 2.5%;
  padding-top: 30px;
  text-align: center;
  transition: all 0.2s ease 0s; }

#main-wrapper.on {
  width: -webkit-calc(100% - 250px);
  width: -moz-calc(100% - 250px);
  width: calc(100% - 250px); }

#main-wrapper.off {
  width: 100%; }

.calendar-month {
  position: fixed;
  top: 25px;
  left: 50%; }

.calendar-week {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 270px; }

.calendar-week li span {
  background-color: #008080;
  position: absolute;
  width: 100%;
  padding: 5px 0px;
  top: 0;
  left: 0;
  -webkit-border-top-right-radius: 2.5px;
  border-top-right-radius: 2.5px;
  -webkit-border-top-left-radius: 2.5px;
  border-top-left-radius: 2.5px;
  background-clip: padding-box;
  color: white; }

.calendar-week li {
  margin: 0;
  border: solid 3px lightgrey;
  background-color: #9DD1D1;
  padding: 250px 300px;
  position: relative;
  display: inline;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

#calendar {
  padding: 0;
  width: 90%;
  height: 600px;
  background-color: lightgray;
  -webkit-box-shadow: inset 0px 0px 33px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 33px -13px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 33px -13px rgba(0, 0, 0, 0.75);
  border-radius: 2.5px;
  position: relative;
  display: inline-block;
  overflow: auto; }
