.sidebar-header {
  text-align: center;
  font-size: 2rem; }

#sidebar-brand {
  text-align: center;
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 20px; }

#profile-image {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  display: block;
  margin: auto; }

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #008080;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s; }

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0; }
  #sidebar-wrapper {
    left: 0; }
  #wrapper.active {
    position: relative;
    left: 250px; }
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s; } }

hr {
  width: 80%;
  border-color: #ffffe6; }

.test {
  color: red; }

#sidebar-toggle {
  background-color: #008080;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  box-shadow: 0px; }
