@import "layout";
@import "mixins";


body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}

    #layout.active #menu {
        left: 300px;
        width: 250px;
    }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 0 0.5em 0;
     border-bottom: 1px solid #eee;
 }


.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}





/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu-wrapper{
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

#menuLink i {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#menuLink.active i {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
}




#menu-icons{
    overflow: hidden;
    position: fixed;
    left: 0;
    width : 50px;
    height: 100%;
    display: inline-block;
    background: #4D4949;
    text-align: center;
    color: lightgrey;
    z-index: 1001;
    a{

        text-decoration: none;
        color: lightgrey;
    }

    
    i{
        font-size: 2em;
        text-align: center;
        line-height: 1.5;
        width: 50px;
        height: 50px;

    }
    .fa-home{
        background: $primary-color;
        color: white;
        
    }
    i:hover{
        color: white;
    }
}   
#menu {
    float: right;
    margin-left: -350px;; /* "#menu" width + icons width */
    width: 150px;
    position: fixed;
    height: 100%;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: none;
        height: 32px;
        line-height: 2;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        width: 150px;
        float: right;
        border: none;
        background: transparent;
    }
    
     #menu .pure-menu ul li{

     }
    
    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: $primary-color-dark;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 50px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 250px;
    }
    #layout.active {
        position: relative;
        padding-left: 250px;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout{
        left: 50px;
    }
    
    #layout.active {
        position: relative;
        left: 250px;
    }
}

