<!doctype html>
<html ng-app="eventCalendar">

<head>
    <title>Jammer | Social Network for Game Jams</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <script src="node_modules/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="css/jammer.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome/font-awesome.css">
</head>

<body ng-controller="EventController" ng-cloak>
    <div class="wrapper">
        <!-- Upcoming Events Section -->
        <div ng-init="sidebarClass='on'" id="sidebar-wrapper" class="sidebar on" ng-class="sidebarClass">
            <a href="" class="sidebar-toggle" ng-click="sidebarClass='off'" ng-hide="sidebarClass=='off'"><i class="fa fa-chevron-left"></i> </a>
            <a href="" class="sidebar-toggle" ng-click="sidebarClass='on'" ng-hide="sidebarClass=='on'"><i class="fa fa-chevron-right"></i></a>
            <!-- Brand/Logo -->
            <section id="sidebar-brand">
                <img alt="Jammer" src="images/Event Calendar Logo.png">
            </section>
            <br/>
            <!-- Profile Section -->
            <section id="profile-section">
                <img alt="profile pic" src="images/cat.jpg">

            </section>
            
            <hr>
            <section>
                <ul class="sidebar-nav">
                    <li><a href="test.html">Home <i class="fa fa-home"></i></a></li>
                    <li><a href="#">Profile<i class="fa fa-user"></i></a></li>
                    <li><a href="#">Account<i class="fa fa-cog"></i></a></li>
                    <li><a href="#">Browse<i class="fa fa-users"></i></a></li>
                    <hr/>
                    <li><a href="#">Events<i class="fa fa-gamepad"></i></a></li>
                </ul>
            </section>
        </div>
    </div>

    <div id="main-wrapper" ng-class="sidebarClass" class="col-xs-10 col-sm-10">
        <div class="container">
            <div class="row">
                <div class="ten columns">
                    <ul>
                        <div class="alert alert-info" ng-repeat="event in data.events">
                            <span>{{event.name}}</span>
                            <p>{{event.description}}</p>
                            <br/>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="attending in event.attending">{{attending.name}} is {{attending.status}}</li>
                        </div>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>