<!--Header Content -->
<%-include('common/head'); %>

<div id="layout">
    <!--Navigation Content -->
    <%-include('common/global_nav.ejs')%>

    <div id="main pure-g">


        <div class="content">
            <div class="pure-u-lg-1">
                <h1 class="header">Jammer.social</h1>
            </div>
            
        </div>
    </div>
</div>

<%-include('common/footer')%>
