    <div id="main pure-g">


        <div class="content">
            <div class="pure-u-lg-1">
                <h1 class="header">Account Information</h1>
                {{#if session.isLoggedIn}}
                <section> <p>information, confidential</p> </section>
                {{else}}
                <section> <p>Oops! Not authenticated!</p> </section>
                {{/if}}
            </div>

        </div>
    </div>
</div>
