<!doctype html>

<html>

<body>
    <h3>Login</h3>
    <form method="post" action="/asdf">
        <input type="text" name="user[name]">
        <input type="text" name="user[email]">
        <input type="submit" value="Submit">
    </form>
</body>

<form action="login" method="get">
    <input type="submit" value="Sign in with GitHub">
</form>

<form action="api/jamPosts" method="get">
    <input type="submit" value="jamPosts">
</form>

<form action="dbTest" method="get">
    <input type="submit" value="Test the db">
</form>

<form action="register" method="post">
    <div>
        <p>Name</p>
        <input type="text" name="name">
    </div>

    <div>
        <p>Email</p>
        <input type="email" name="email">
    </div>

    <div>
        <p>Password</p>
        <input type="password" name="password">
    </div>

    <input type="submit" value="Register">
</form>

</html>