<!doctype html>

<head>
    <script src="/node_modules/angular/angular.js" type="application/javascript"></script>
    <script type="application/javascript" src="../public/js/test.js"></script>
</head>

<html>

<body>
    <? if(session.isLoggedIn){ ?>  Hello logged in person  <? } ?>
    <? if(name) { ?>Hello, <?= name ?> <? } ?>

<<<<<<< HEAD
    <% if(!session.isLoggedIn){ %>
    <form action="/loginGithub" method="get">
        <input type="submit" value="Sign in with GitHub">
    </form>

    <form action="loginLocal" method="get">
        Name
        <input type="text" name="name" />
        Password
        <input type="password" name="password" />
        <input type="submit" value="Sign in locally" />
    </form>
    <% } else { %>
=======
    <? if(!session.isLoggedIn){ ?>
    <form action="login" method="get">
        <input type="submit" value="Sign in with GitHub">
    </form>
    <? } else { ?>
>>>>>>> 296ab60acde6a52f01f9e5db831974f260e2cac3

    <form action="../test/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    <? } ?>

    <form action="api/jamPosts" method="get">
        <input type="submit" value="jamPosts">
    </form>

    <form action="dbTest" method="get">
        <input type="submit" value="Test the db">
    </form>



    <form action="register" method="post">
        <div>
            <p>Name</p>
            <input type="text" name="name">
        </div>

        <div>
            <p>Email</p>
            <input type="email" name="email">
        </div>

        <div>
            <p>Password</p>
            <input type="password" name="password">
        </div>

        <input type="submit" value="Register">
    </form>

</body>

</html>
