<!doctype html>

<head>
    <script src="/node_modules/angular/angular.js" type="application/javascript"></script>
    <script type="application/javascript" src="../public/js/test.js"></script>
</head>

<html>

<body>
    hello, <% if(session.hasOwnProperty('passport')){ %> <%= session.passport.user.github.name %> <% } %>
    <form action="login" method="get">
        <input type="submit" value="Sign in with GitHub">
    </form>


    <form action="../test/logout" method="post">
        <input type="submit" value="Logout">
    </form>


    <form action="api/jamPosts" method="get">
        <input type="submit" value="jamPosts">
    </form>

    <form action="dbTest" method="get">
        <input type="submit" value="Test the db">
    </form>

    <form action="register" method="post">
        <div>
            <p>Name</p>
            <input type="text" name="name">
        </div>

        <div>
            <p>Email</p>
            <input type="email" name="email">
        </div>

        <div>
            <p>Password</p>
            <input type="password" name="password">
        </div>

        <input type="submit" value="Register">
    </form>

    <form action="testlogin" method="get">
        <input type="submit" value="Set session variable">
    </form>

    <form action="testo" method="get">
        <input type="submit" value="view session">
    </form>
</body>

</html>